<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer template</title>
</head>
<body>
    <h1>Template con Jinja2</h1>
    <ol>
        {% for u in usuarios %}
            {% if u == 'beto' %}
                <li><b>{{ u }}</b></li>
            {% else %}
                <li>{{ u }}</li>
            {% endif %}
        {% endfor %}
    </ol>
<!--
    <h2>Tablas en Jinja2</h2>
    <table>
        {% for datos en infopersona %}
            {% if datos == 'beto' %}
                <thead>
                    <th>Nombre</th>
                    <th>Edades</th>
                </thead>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
    </table>-->
</body>
</html>